@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.maateen.me/charu-chandan-3d/font.css');
@import url('https://fonts.maateen.me/charu-chandan-hard-stroke/font.css');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/hanson');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.header-sec{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 80px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    z-index: 100;
}
nav{
    background: transparent;
    height: 90px;
    width: 100%;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 86px;
    font-weight: bold;

  }
  .logo span{
    color: #0008ff;
  }
  nav ul{
    float: right;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 5px;
  }
  nav ul li a{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #56b5baab;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: #0031f7;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  .time {
      width: 100%;
      font-size: 1rem;
      letter-spacing: 10px;
      font-family: monospace;
      border-right: 5px solid;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      animation: 
                typing 2s steps(16),
                cursor 0.40s step-end infinite alternate ;

      
  }
  @keyframes cursor{
      50%{ border-color: transparent;}
  }
  @keyframes typing{
      from{ width:0}
  }
  #check{
    display: none;
  }
  @media screen and (max-width: 952px){
    .header-sec{
        padding: 0 40px;
    }
    label.logo{
      font-size: 26px;
    }
    nav ul li a{
      font-size: 20px;
    }
  }
  @media screen and (max-width: 858px) {
    .checkbtn{
      display: block;
      font-size: 26px;
      margin-top: 5px;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: radial-gradient(circle at center, rgba(32, 51, 158, 0.686), rgb(0, 128, 135), rgb(2, 0, 114));;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 10px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #00dfa4;
    }
    #check:checked ~ ul{
      left:0;
    }
  }
  .hero{
    background-color: #0000004c;
    background-image: url(mainpage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 80px;
  }
  .hero-content{
    width: 600px;
  }
  .hero-content h1{
    color: #ebebeb;
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
    padding-top: 80px;
    position:inherit;
                                                
  }
  .hero-content h4{
    color: #ebebeb;
    font-size: 45px;
    font-weight: 600;
    padding-left: 5px;
    letter-spacing: 4px;
    width: 72.5%;
    background : linear-gradient(43deg, blue 0%, rgba(205, 137, 137, 0.036) 46%, rgba(51, 67, 135, 0.352) 100% ) ;
    border-radius: 1rem;
    font-family: "Bebas Neue", sans-serif;
    
                                                
   
  }
  .hero-content h2 {
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1 ;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 340px;
    
    
  }
  
  .hero-content h2 span {
    font-size: 40px;
    margin-left: 40px;
  }
  
  .message {
    background : linear-gradient(43deg, rgb(42, 42, 231) 0%, rgba(48, 164, 189, 0.462) 46%, rgba(51, 67, 135, 0.352) 100% ) ;
    color: #ffffffd4;
    display: Block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.1rem;
    left: 150px;
    animation: openclose 4s ease-in-out infinite alternate;
    border-radius: 1rem;
  }
  
  .word1, .word2, .word3{
  font-family: cursive;
  padding-bottom: 10px;
  
}

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  5% {
    width: 0;
    background-color: #0031f771;
  }
  15% {
    width: 230px;
  }
  30% {
    top: 0.2rem;
    width: 230px;
  }
  33% {
    top: 0.2rem;
    background-color: rgba(137, 43, 226, 0.566);
    width: 0;
  }
  35% {
    top: 0.2rem;
    width: 0;
  }
  38% {
    top: -4.5rem;
    width: 0;
  }
  48% {
    top: -4.5rem; 
    background-color: rgba(210, 59, 109, 0.547);
    width: 190px;
  }
  62% {
    top: -4.5rem;
    width: 190px;
  }
  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
    background-color: #00dfa486;
  }
  71% {
    top: -9rem;
    width: 0;
    text-indent: 0;
  }
  86% {
    top: -9rem;
    width: 285px;
  }
  95% {
    top: -9rem;
    width: 285px;
    background-color: rgba(102, 51, 153, 0.599);
  }
  100% {
    top: -9rem;
    width: 285px;
    text-indent: 0;
  }
}

 
  .hero-content p{
    color:snow;
    line-height: 30px;
    font-weight: 300;
    border-right: 10px inset #2b00ff;
    width: 100%;
    overflow: hidden;
    animation: 
              typing 5s ,
              cursor 0.30s step-end alternate ;
  }
 
  .btn-box{
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 50px;
  }
  .btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #0800ff;
    border: 2px solid #1a24af;
    border-radius: 8px;
    font-size: 18px;
    color: #ebebeb;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
    padding: 10px;
  }
  .btn-box a:hover{
    color: #fff;
  }
  .btn-box a:nth-child(2){
    background: transparent;
    color: #09d3f2ed;
  }
  .btn-box a:nth-child(2):hover{
    color: #ebebeb;
  }
  .btn-box a:nth-child(2)::before{
    background: #1a24af;
  }
  .btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: #000;
    z-index: -1;
    border-radius: 8px;
    transition: 0.5s;
  }
  .btn-box a:hover::before{
    width: 100%;
  }
  .social-icon{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.social-icon a{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #ffee00;
    font-size: 20px;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #4400ff;
    text-decoration: none;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}
.social-icon a:hover{
    color: #ffffff;
}
.social-icon a::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: #4400ff;
    z-index: -1;
    transition: 0.5s;
}
.social-icon a:hover:before{
width:100%;
}

/*video playback*/

.video-bg {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover; /* THIS is the magic */
      z-index: -1;
    }

/* Responsive Code */
@media  screen and (max-width: 952px) {
  .hero{
    padding: 0 40px;
  }
  .hero h1{
    padding: 60px 0 0 0;
  }
}
@media (max-width: 750px){
  .header-sec{
    background-image: url(mainsitesmall.png);
  }
  .hero{
    background-image: url(mainsitesmall.png);
  }
}

#preloader{
  background: #000 url(book.png) no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1000;
}